:root{
    --dark-green : #2087c293;
    --white: white;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #4ecbb6;
}

.section{
    
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    margin-top: 15vh;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 37px;
    background: linear-gradient(145deg, #42ab99, #4ecbb6);
    box-shadow:  41px 41px 82px #3ea291,
                -41px -41px 82px #54dbc4;
}
h1, p{
    color: white;
}
.label{
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--white);
}


input{
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
    background-color: #EEB868;
    border-radius: 10px;
}

button{
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color:#49DCB1;
    color: #EF767A;
    font-weight: bold;
}

button:hover{
    background-color: #EF767A;
    color: #49DCB1;
}

.cashGivenInput{
    display: none;
}
.changeReturn{
    display: none;
}
.errorMsg{
    padding-top: 1rem;
    color:white;
}
#output{
    margin: 1rem 0;    
}

#output table, th, td{
    padding: 0.2rem;
    color: var(black);
    background-color:var(black);
    border: 2px solid var(--dark-green) ;
    border-collapse: collapse;
}
.noOfNotes{
    background-color: #EEB868;
    font-weight: bold;
}

table{
    width: 100%;
    table-layout: fixed;
}

th,td{
    word-wrap: break-word;
    background-color: ;
    background-color: #49DCB1;
}


footer{

    font-size: larger;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a{
    color: #0f82ee;
}

a:hover{
    color: #EEB868;
}